.container {
  display: flex;
  flex-direction: column;
  background: #808080;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  background-color: #272f3d;
  height: 100%;
  overflow-y: auto;
}

.grid-container {
  padding-top: 20px;
  padding-bottom: 10px;
  display: grid;
  overflow: auto;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  grid-template-columns: repeat(3, 1fr);
  
  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.grid-container::-webkit-scrollbar {
  width: 0px;
}

/* Overlay de Loading */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
