.login {
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #272f3d, #808080);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
}

.title{
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 400px;
}

button {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #272f3d;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #444b5a;
}

@media (max-width: 480px) {
    form {
        gap: 10px;
    }
    
    input {
        width: 200px;
    }    
}
