.container {
    display: flex;
    flex-direction: column;
    background: #808080;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    background-color: #272f3d;
    height: 100%;
    overflow-y: auto;
}

button {
    all: unset;
    border-radius: 12px;
    background-color: #808080;
    color: #ffffff;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #747f96;
}

.instructions {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    background-color: white;
    width: 300px; 
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.error-message {
    color: red;
    margin-top: 20px;
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

/* Overlay de Loading */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
  }
  
  /* Spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #e0e0e0;
    border-top: 6px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

@media (max-width: 375px) {
    .content {
        width: 200px; 
        height: 200px;
    }
}
