.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.title {
    color: white;
    cursor: pointer;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    padding-right: 45px;
    flex-grow: 1;
}

@media (max-width: 480px) {
    .title {
        font-size: 30px;
    }
}
